{
    "extends": [ "wesbos" ],
    "rules": {
        "react/no-unused-class-component-methods": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "camelcase": 1,
        "no-use-before-define": 1
    }
}